.my-containter {
 border: solid 2px;
background-color: blanchedalmond;
}
.my-row {
   height: 300px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 20px;
}
.my-column {
    background-color: floralwhite
    

}
body {
   margin-top: 20px;
   margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 30px;
}
.rounded-5 {


}